<app-appbar></app-appbar>
<div class="container">
  <div class="loginContainerMain">
    <div class="signInContainer"> 
      <form class="loginFormContainer" >
        <div style="margin: auto; width: 85%;">
          <div class="inputFormContainer">
            <h1 class="signInHeading">Sign in to your account</h1>
            <label class="loginFormName" for="username">Username</label>
            <input type="text" [(ngModel)]="loginObj.username" id="username" name="username" class="loginFormInput" required #username="ngModel"/>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
              Username is required.
            </div>
          </div>
          <div class="inputFormContainer">
            <label class="loginFormName" for="password">Password</label>
            <input type="password" [(ngModel)]="loginObj.password" id="password" name="password" class="loginFormInput" required #password="ngModel"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
              Password is required.
            </div>
          
          </div>
          <div class="inputFormContainer">
            <label class="loginFormName" for="userRole">Select Role</label>
            <select [(ngModel)]="loginObj.userRole" id="userRole" name="userRole" class="loginFormInput" required>
              <option value="admin">Admin</option>
              <option value="customer">Customer</option>
            </select>
          </div>
          
          <p class="forgotPassword" (click)="forgotpassword()">Forgot password?</p>
          <button type="submit" class="signInBtn" (click)="login()">Sign In</button>
          <p class="accountDesription">Don't have an account? <span style="color:#346BD4;" (click)="Register()">Register here</span></p>
        </div>
      </form> 
    </div>
  </div>
</div>



