<app-appbar></app-appbar>
<div class="container">
  
  <div class="loginContainerMain">
    <div class="signInContainer">
      <form class="loginFormContainer" >
        <div style="margin: auto; width: 85%;">
          <div class="inputFormContainer">
           
            <h1 class="signInHeading">Forgot Password</h1>
            <label class="loginFormName" for="username">Username</label>
            <input type="text" [(ngModel)]="userObj.username" id="username" name="username" class="loginFormInput" required  #username="ngModel"/>
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
              Username Required
             </div>
          </div>
          <div class="inputFormContainer">
            <label class="loginFormName" for="petname">Pet Name</label>
            <input type="text" [(ngModel)]="userObj.petname" id="petname" name="petname" required  class="loginFormInput" #petname="ngModel"/>
            <div *ngIf="petname.invalid && (petname.dirty || petname.touched)" class="alert">
              Petname Required
             </div>
          </div>
          <div class="inputFormContainer">
            <label class="loginFormName" for="password">Password</label>
            <input type="password" [(ngModel)]="userObj.password" id="password" name="password" class="loginFormInput" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
             Required at least 8 characters,including uppercase,lowercase,and a number.
            </div>
          </div>
         
          <div *ngIf="errorMessage" class="alert">
            {{ errorMessage }}
          </div>
          <br>
          <button type="submit" class="signInBtn" (click)="forgotpassword()">Submit</button>
          <br>
         
        </div>
        <p class="accountDesription">Go back to login? <span style="color:#346BD4;" (click)="blogin()">Login</span></p>
        
      </form> 
    </div>
  </div>
</div>

