
<div class="container">
  <div class="desktopViewBoard">
    <h1 class="desktopViewBoardHeading">Movie<br><br>Booking</h1>
  </div>
  <div class="loginContainerMain">
    <div class="signInContainer">
      <h1 class="signInHeading">Forgot Password</h1>
      <form class="loginFormContainer" >
        <div style="margin: auto; width: 85%;">
          <div class="inputFormContainer">
            <label class="loginFormName" for="username">Username</label>
            <input type="text" [(ngModel)]="userObj.username" id="username" name="username" class="loginFormInput"/>
          </div>
          <div class="inputFormContainer">
            <label class="loginFormName" for="petname">Pet Name</label>
            <input type="text" [(ngModel)]="userObj.petname" id="petname" name="petname" class="loginFormInput"/>
          </div>
          <div class="inputFormContainer">
            <label class="loginFormName" for="password">New Password</label>
            <input type="password" [(ngModel)]="userObj.password" id="password" name="password" class="loginFormInput"/>
          </div>
          
          <button type="submit" class="signInBtn" (click)="forgotpassword()">Submit</button>
        </div>
      </form> 
    </div>
  </div>
</div>

