
<mat-divider></mat-divider>
<input [(ngModel)]="filterValue" placeholder="Search for a movie..." />

<br />
<button mat-raised-button color="primary" (click)="viewAllMovies()">
  View All Movies
</button>

<hr />
<br />

<div class="card-container" *ngIf="dataSource">
  <div *ngFor="let element of filteredData">
    <div class="card">
      <img [src]="'assets/' + element.movieName + '.jpg'" alt="{{element.movieName}}"> 
     
      <h1>{{ element.movieName }}</h1>
      <p>Seats: {{element.seats}}</p>
      <p>Available Seats: {{element.seatsAvalible}}</p>
      <p>Theater Name: {{element.theatreName}}</p>
      <p>Show Time: {{element.showTime}}</p>
      <p>Price: ₹ {{element.price}}</p>
      <a (click)="deletemovie(element.movieId)" *ngIf="isAdmin"><button mat-raised-button class=".button"  color="primary">Delete</button></a>
      <button *ngIf="!isAdmin" (click)="showmovie(element.movieId)" mat-raised-button class=".button"  color="primary">Book Ticket</button>
    </div>
  </div>
</div>
